body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full height of viewport */
    margin: 0;
    background-image: url(''); /* Background image */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    color: #111010; /* Text color for better readability */
  }
  
  .emotion-container {
    text-align: center;
    width:50%;
    height:50%; /* Center text */
  }
  p{
    color: black;
    font-size: 3em;
  }
  
  h1 {
    color: black;
    font-size: 4em; /* Heading size */
  }
  
  li {
    color: black;
    list-style-type: none; /* No bullet points */
    padding: 0; /* Remove default padding */
    font-size: 2em;
  }
  
  a {
    text-decoration: none; /* Remove underline from links */
    color: #0b0b0b; /* Text color */
  }
  
  a:hover {
    color: #ffd700; /* Change color on hover */
  }
  